<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-navbar">
    <div class="offcanvas-body">
        <partial name="_NavigationBar" model="new NavigationBarModel { KeepExpanded = true }" />
    </div>
</div>