.form-group .form-floating .form-label {
    font-weight: normal;
    background: transparent !important;
}

.container-fluid {
    width: 100vw;
    max-width: 100%;
    min-height: 100%;
}

.col {
    max-width: 400px !important;
}

.block {
    border-radius: 0.5rem;
}
